<div class="form-container">
    <div class="pool-form">
      <h1>New Pool </h1>
        <%= render "pools/form"%>
        <%= link_to "Return to all pools without saving", pools_path %>
    </div>
</div>
