<div class="form-container">
    <div class="tournament-form">
      <h1>Edit tournament </h1>
        <%= render "tournaments/form"%>
        <%= link_to "Return to all tournaments without saving", tournaments_path %>
    </div>
</div>
