<h3> New Tournament </h3>
<%= link_to("Create a new tournament", new_tournament_path, :class => "waves-effect waves-light btn") %>

<br>
<br>

<h3> All Tournaments </h3>
<% if !@tournaments.empty? %>
	<% @tournaments.each do |tournament| %>
		<p> 
			<%= link_to(tournament.name, tournament_path(tournament))%> 
			<% if current_user && current_user.admin? %>
				<%= link_to("Edit", edit_tournament_path(tournament), :class => "waves-effect waves-light btn") %>
			<% end %> 
		</p>
	<% end %>

<% else %>
	
		<h1> Currently there are no tournaments set up. 
			<% if current_user && current_user.admin? %>
				You can set one up <%= link_to "here", new_tournament_path, :class => "waves-effect waves-light btn" %>
			<% end %>
		</h1>
<% end %>